[submodule "firmware/ds2482"]
	path = firmware/ds2482
	url = https://github.com/fgervais/ds2482.git
[submodule "firmware/hass-mqtt-discovery"]
	path = firmware/hass_mqtt_discovery
	url = https://github.com/fgervais/hass-mqtt-discovery.git
[submodule "firmware/cpython"]
	path = firmware/cpython
	url = https://github.com/python/cpython.git
